/*Box 1*/

.box1{
    background-color:#3F51B5;
    height: 120px;
}
.redes{
    font-size: 60px !important;
    color: white;
}

/*Box 2*/
.box2{
    background-color:#303F9F;
    height: 60px;
}
.txtFooter{
    color: white;
}

